---
layout: page
title: People
description: 
background: '/img/bg-about.jpg'
---

<article class="people">
    <div class="division-line">Principal Investigator</div>
    <div class="head-professor">
        <div class="professor-left">
            <img src="/img/posts/hmpark.jpg">
        </div>
        <div class="professor-right">
            <div class="professor-name">Ha-Myung Park</div>
            <div class="professor-field">
                Assistant Professor<br>
                Collage of Computer Science<br>
                Kookmin University
            </div>
            <ul id="professor-link">
                <li>Office: Room 403, Future Hall (미래관)</li>
                <li>Email: hmpark@kookmin.ac.kr</li>
                <li>WWW: <a href="http://hmpark.me">http://hmpark.me</a></li>
            </ul>
        </div>
    </div>

    <div class="division-line">Graduate Students</div>

    <div class="students">
    {% for student in site.data.graduate_student %}
        <div class="student">
            <div class="student-top">
            {% if student.image != null and student.image != "" %}
                <div class="student-photo" style="background-image:url({{ student.image }})"></div>
            {% else %}
                <div class="student-photo" style="background-image:url(/img/posts/unknown.jpg)"></div>
            {% endif %}
            </div>

            <div class="student-down">
                <b class="student-name">{{ student.name }}</b>
                <p class="student-field">{{ student.interest }}</p>
                <hr class="student-division">
                <div class="student-info">
                    <p class="student-email">{{ student.email }}</p>
                    <div class="student-link">
                        {% if student.github != null and student.github != "" %}
                        <a target="_blank" href="{{ student.github }}"><i class="fab fa-github"></i></a>
                        {% endif %}
                        {% if student.instagram != null and student.instagram != "" %}
                        <a target="_blank" href="{{ student.instagram }}"><i class="fab fa-instagram-square"></i></a>
                        {% endif %}
                        {% if student.facebook != null and student.facebook != "" %}
                        <a target="_blank" href="{{ student.facebook }}"><i class="fab fa-facebook"></i></a>
                        {% endif %}
                        {% if student.linkedin != null and student.linkedin != "" %}
                        <a target="_blank" href="{{ student.linkedin }}"><i class="fab fa-linkedin"></i></a>
                        {% endif %}
                    </div>
                </div>
                
            </div>
        </div>
    {% endfor %}
    </div>

    <div class="division-line">Undergraduate Students</div>
    
    <div class="students">
        {% for student in site.data.undergraduate_student %}
            <div class="student">
                <div class="student-top">
                {% if student.image != null and student.image != "" %}
                    <div class="student-photo" style="background-image:url({{ student.image }})"></div>
                {% else %}
                    <div class="student-photo" style="background-image:url(/img/posts/unknown.jpg)"></div>
                {% endif %}
                </div>
    
                <div class="student-down">
                    <b class="student-name">{{ student.name }}</b>
                    <p class="student-field">{{ student.interest }}</p>
                    <hr class="student-division">
                    <div class="student-info">
                        <p class="student-email">{{ student.email }}</p>
                        <div class="student-link">
                            {% if student.github != null and student.github != "" %}
                            <a target="_blank" href="{{ student.github }}"><i class="fab fa-github"></i></a>
                            {% endif %}
                            {% if student.instagram != null and student.instagram != "" %}
                            <a target="_blank" href="{{ student.instagram }}"><i class="fab fa-instagram-square"></i></a>
                            {% endif %}
                            {% if student.facebook != null and student.facebook != "" %}
                            <a target="_blank" href="{{ student.facebook }}"><i class="fab fa-facebook"></i></a>
                            {% endif %}
                            {% if student.linkedin != null and student.linkedin != "" %}
                            <a target="_blank" href="{{ student.linkedin }}"><i class="fab fa-linkedin"></i></a>
                            {% endif %}
                        </div>
                    </div>
                    
                </div>
            </div>
        {% endfor %}
        </div>

</article>
<hr>
