
.head-professor{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
.head-professor > h{
    display: block;
}

.professor-left{
    padding-right: 1.5rem;
}
.professor-left > img{
    display: block;
    width: 15rem;
    height: 15rem;
}
.professor-left > div{
    display: block;
    padding: 1rem;
    height: 8rem;
}
.professor-left > div > span{
    display: block;
    text-align: center;
    font-size: 12px;
}
.professor-right{
    padding-left: 1rem;
    border-left: 1px solid silver;
    overflow: auto;
    font-size: 12px;
}
#professor-name{
    display: block;
    text-align: center;
}
#professor-link{
    padding: 1rem;
    font-size: 10px;
}
.professor-link{
    display: inline-block;
}

.career > b{
    font-size: 18px;
}
.career{
    font-size: 16px;
}
.division-line{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0, 1rem;
    flex-basis: width;
    font-size: 2rem;
    color: rgba(0,0,0,0.50);
}
.division-line::before{
    content: "";
    margin-top: 1.5rem;
    margin-right: 1rem;
    flex-grow: 1;
    height: 1px;
    background: linear-gradient(to right, #0000, rgba(0,0,0,0.35));
    //background: rgba(0,0,0,0.35);
}
.division-line::after{
    content: "";
    margin-top: 1.5rem;
    margin-left: 1rem;
    flex-grow: 1;
    height: 1px;
    background: linear-gradient(to left, #0000, rgba(0,0,0,0.35));
    //background: rgba(0,0,0,0.35);;
}
.students{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.student{
    display:inline;
    text-align: center;
    margin-bottom: 1rem;
    width:250px;
}
.student-top{
    margin-bottom: 0.5rem;
}
.student-field{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
}
.student-email{
    font-size: 1rem;
    margin: 0.5rem 0;
}
.student-link{
    text-align: center;
}
.student-division{
    border: 0;
    height: 1px;
    margin: 0 1rem;
    background-color: #fff;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.student-photo{
    width:250px;
    height:250px;
    background-size:cover;
}
