
.head-professor{
    display: flex;
    //border: 1px solid silver;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
.head-professor > h{
    display: block;
}
.head-professor > p{
    font-size: 15px;
}
.professor-left{
    padding-right: 1.5rem;
}
.professor-left > img{
    display: block;
    width: 15rem;
    height: 15rem;
}
.professor-left > div{
    display: block;
    align-items: center;
    padding: 1rem;
    height: 8rem;
}
.professor-right{
    padding-left: 1rem;
    border-left: 1px solid silver;
}
#professor-name{
    display: block;
    text-align: center;
}
#professor-link{
    padding: 1rem;
    font-size: 10px;
}
.career > b{
    font-size: 14px;
}
.career{
    font-size: 10px;
}