
.head-professor{
    display: flex;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
}
.head-professor > h{
    display: block;
}

.professor-left{
    text-align:center;
}

.professor-right{
    font-size: 1rem;
    text-align:center;
    padding-top:0.5rem;
}

@media (min-width: 768px) {

    .professor-left{
        text-align:right;
        padding-right:5rem;
    }

    .professor-right{
        text-align:left;
    }

}


.professor-left > img{
    width: 17rem;
    height: 17rem;
}



.professor-name{
    font-weight:bold;
    font-size: 1.5rem;
}
.professor-field{
    font-size: 1.05rem;
}
#professor-link{
    padding: 1rem;
}
.professor-link{
    font-size: 1.1rem;
    display: inline-block;
}

.career > b{
    font-size: 18px;
}
.career{
    font-size: 16px;
}
.division-line{
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;
    padding: 0, 1rem;
    flex-basis: width;
    font-size: 2rem;
    color: rgba(0,0,0,0.50);
}
.division-line::before{
    content: "";
    margin-top: 1.5rem;
    margin-right: 1rem;
    flex-grow: 1;
    height: 1px;
    background: linear-gradient(to right, #0000, rgba(0,0,0,0.35));
    //background: rgba(0,0,0,0.35);
}
.division-line::after{
    content: "";
    margin-top: 1.5rem;
    margin-left: 1rem;
    flex-grow: 1;
    height: 1px;
    background: linear-gradient(to left, #0000, rgba(0,0,0,0.35));
    //background: rgba(0,0,0,0.35);;
}
.students{
    display: grid;
    grid-template-columns: repeat(auto-fill, 200px);
    justify-content: space-between;
}
.student{
    display: inline;
    text-align: center;
    margin-bottom: 1rem;
    width: 200px;
}
.student-name{
    font-size: 1.25rem;
}
.student-top{
    margin-bottom: 0.5rem;
}
.student-top > img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}
.student-field{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
}
.student-email{
    font-size: 0.85rem;
    margin: 0.5rem 0;
}
.student-link{
    text-align: center;
}
.student-division{
    border: 0;
    height: 1px;
    margin: 0 1rem;
    background-color: #fff;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.student-photo{
    width: 200px;
    height: 200px;
    background-size: cover;
}


.alumnis{
    display: grid;
    grid-template-columns: repeat(auto-fill, 130px);
    justify-content: space-between;
}
.alumni{
    display: inline;
    text-align: center;
    margin-bottom: 1rem;
    width: 130px;
}
.alumni-name{
    font-size: 0.95rem;
}
.alumni-top{
    margin-bottom: 0.5rem;
}
.alumni-top > img{
    width: 12rem;
    height: 12rem;
    object-fit: cover;
}
.alumni-field{
    font-size: 0.7rem;
    margin-top: 0;
    margin-bottom: 0.8rem;
}
.alumni-photo{
    width: 130px;
    height: 130px;
    background-size: cover;
}